ul {
   display: flex;
}

#me {
   font-size: 20px
}

.oPC1-1 {
   width: 41px;
   height: 60px;

   background: url(card_back.png);
   background-size: cover
}

#players {
   font-size: 10px;
   line-height: 10px;
   display: grid;
}

#me {
   grid-area: myArea;
}