ul {
   display: flex;
}

#players {
   font-size: 10px;
   line-height: 10px;
   display: grid;
}

#me {
   grid-area: myArea;
   font-size: 30px;
}

.hold {
   background-color: #ffff00;
}
p{
   color: rgb(128, 0, 121);
}
body {
   background: #013f11;
   font-family: 'Sacramento', cursive;
   width: 1300px;
   padding: 120px;
   border: 5px solid #700669;
   margin: 30px auto;
 }
 
 .bg_pattern {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: #ffe9a7;
   opacity: 0.4;
   z-index: -1;
 }

 body {
   background-color: rgb(224, 78, 230);
 }
 .star-kirakira {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #fff;
    animation: anim-star-kirakira 1s infinite linear;
 }
 .star-kirakira:before {
    content: '';
    background-color: #fff;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    margin: -25px 0 0 -25px;
    box-shadow: 0 0 30px 20px #fff;
    z-index: 100;
 }
 .star-kirakira.is-small {
    position: absolute;
    left: 60px;
    top: 90px;
    animation: anim-star-kirakira-small 1s infinite linear;
 }
 .star-kirakira__path:before,
 .star-kirakira__path:after {
    background-color: rgb(224, 78, 230);
    position: absolute;
    content: '';
    display: block;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
 }
 .star-kirakira__path.is-left:before {
    top: 100px;
    left: 0px;
    border-right: 1px solid #fff;
    /* border-top: 1px solid #fff; */
    border-top-right-radius: 50%;
 }
 .star-kirakira__path.is-left:after {
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #fff;
    /* border-right: 1px solid #fff; */
    border-bottom-right-radius: 50%;
 }
 .star-kirakira__path.is-right:before {
    top: 100px;
    left: 100px;
    border-top: 1px solid #fff;
    /* border-left: 1px solid #fff; */
    border-top-left-radius: 50%;
 }
 .star-kirakira__path.is-right:after {
    top: 0px;
    left: 100px;
    border-left: 1px solid #fff;
    /* border-bottom: 1px solid #fff; */
    border-bottom-left-radius: 50%;
 }
 
 
 @keyframes anim-star-kirakira {
    0%   { transform: scale(1);}
    50%  { transform: scale(0.5);}
    100% { transform: scale(1);}
 }
 @keyframes anim-star-kirakira-small {
    0%   { transform: scale(0.3);}
    50%  { transform: scale(0.1);}
    100% { transform: scale(0.3);}
 }
 #play {
   color: rgb(255, 255, 255);
   background: #b904ad;
   width: 200px;
   position: relative;
   top: 950px; 
   left: 1px;
 }

 #volume-up {
   color: rgb(255, 255, 255);
   background: #b904ad;
   width: 40px;
   position: relative;
   top: 924px; 
   left: 175px;
 }

 #volume-down {
   color: rgb(255, 255, 255);
   background: #b904ad;
   width: 40px;
   position: relative;
   top: 924px; 
   left: 171px;
 }
 #mute {
   color: rgb(255, 255, 255);
   background: #b904ad;
   width: 80px;
   position: relative;
   top: 924px; 
   left: 168px;
 }
 #btn_previous {
   color: rgb(255, 255, 255);
   background: #b904ad;
   width: 80px;
   position: relative;
   top: 898px; 
   left: 400px;
 }
 #btn_back {
   color: rgb(255, 255, 255);
   background: #b904ad;
   width: 80px;
   position: relative;
   top: 898px; 
   left: 396px;
 }
 #btn_forward {
   color: rgb(255, 255, 255);
   background: #b904ad;
   width: 80px;
   position: relative;
   top: 898px; 
   left: 393px;
 }
 #btn_after {
   color: rgb(255, 255, 255);
   background: #b904ad;
   width: 80px;
   position: relative;
   top: 898px; 
   left: 390px;
 }
 #timeviewr {
   color: rgb(255, 255, 255);
   background-color: rgb(224, 78, 230);
   width: 80px;
   position: relative;
   top: 898px; 
   left: 390px;
 }
 
 .container {
   font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
   text-align: center;
   padding-top: 40px;
 }
 
 
 /* ここから下がボタンのCSS　*/
 #betButtom {
   display: inline-block;
   max-width: 2500px;
   text-align: left;
   border: 4px solid #c34ba9;
   font-size: 32px;
   color: #c34ba9;
   text-decoration: none;
   font-weight: bold;
   padding: 16px 32px;
   border-radius: 8px;
   transition: .8s;
 }
 
 .btn-border:hover {
   background-color: #c34ba9;
   border-color: #c34ba9;
   color: #FFF;
 }
 #nextButtom {
   display: inline-block;
   max-width: 2500px;
   text-align: left;
   border: 4px solid #c34ba9;
   font-size: 32px;
   color: #c34ba9;
   text-decoration: none;
   font-weight: bold;
   padding: 16px 32px;
   border-radius: 8px;
   transition: .8s;
 }
 
 .btn-border:hover {
   background-color: #c34ba9;
   border-color: #c34ba9;
   color: #FFF;
 }

 #betAdd {
   display: inline-block;
   max-width: 2500px;
   text-align: left;
   border: 4px solid #c34ba9;
   font-size: 32px;
   color: #c34ba9;
   text-decoration: none;
   font-weight: bold;
   padding: 16px 32px;
   border-radius: 8px;
   transition: .8s;
 }
 
 .btn-border:hover {
   background-color: #c34ba9;
   border-color: #c34ba9;
   color: #FFF;
 }

 #exchangeButtom {
   display: inline-block;
   max-width: 2500px;
   text-align: left;
   border: 4px solid #c34ba9;
   font-size: 32px;
   color: #c34ba9;
   text-decoration: none;
   font-weight: bold;
   padding: 16px 32px;
   border-radius: 8px;
   transition: .8s;
 }
 
 .btn-border:hover {
   background-color: #c34ba9;
   border-color: #c34ba9;
   color: #FFF;
 }

 #mainmenu {
  display: inline-block;
  max-width: 1250px;
  text-align: left;
  border: 2px solid #c34ba9;
  font-size: 16px;
  color: #c34ba9;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  position: relative;
   top: 50px; 
   left: 200px;
}

.btn-border:hover {
  background-color: #c34ba9;
  border-color: #c34ba9;
  color: #FFF;
}